[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
azure-storage-blob = "*"
uvloop = "*"
fastapi = "*"
httptools = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
