body {
    background-color: f0f0f0;  /* light grey */
    color: darkslategray;  /* default font color */
    font-family: Arial, sans-serif;
    background-image: url("../images/Designer02.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

h1 {
    color: darkgray; /* font for the h1 header*/
}

.list-group-item {
    color: #333; /* dark grey */
}




