<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <ol>
        {% for todo in todo_list %}
            <li>{{ todo }}</li>
        {% endfor %}
    </ol>
    <form action="/add" method="post">
        <label for="todo">Add a to-do:</label>
        <input type="text" name="todo">
        <button type="submit">Add</button>
    </form>
    <form action="/remove" method="post">
        <label for="item_number">Remove task number:</label>
        <input type="number" name="item_number" min="1">
        <button type="submit">Remove</button>
    </form>
</body>
</html>