body {
    background-color: f0f0f0;  /* light grey */
    color: darkslategray;  /* default font color */
    font-family: Arial, sans-serif;
    background-image: url("../images/Designer02.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

h1 {
    color: darkgray; /* font for the h1 header*/
}

.list-group-item {
    color: #333; /* dark grey */
}

.form-check input[type="checkbox"]:checked + .title {
    text-decoration: line-through;
}

.title {
    display: inline-flex;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 14px;
    color: #666;
    padding-left: 20px;
}

.card {
    border-top: none !important;
}

.nav-link {
    background-color: white;
}

.highlighted-item {
    background-color: #f2f2f2;
}

.limit-text {
    color: white;
}



